* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: hsl(0, 0%, 100%);

  --hero-img: url("./images/bg-mobile-light.jpg");
  --body-bg: hsl(0, 0%, 98%);
  --todo-container: hsl(0, 0%, 100%);
  --todo-container-shadow: rgba(134, 136, 155, 0.15) 0px 130px 70px -30px;
  --todo-filter-text: hsl(236, 9%, 61%);

  --light-text: hsl(233, 11%, 84%);
  --normal-text: hsl(236, 9%, 61%);
  --dark-text: hsl(235, 19%, 35%);

  --icon-border-color: hsl(233, 11%, 84%);
  --delete-btn: hsl(235, 19%, 35%);

  --sun-display: none;
  --moon-display: block;
}

html[data-theme="dark"] {
  --body-bg: hsl(235, 21%, 11%);
  --todo-container: hsl(235deg 24% 19%);
  --todo-container-shadow: rgb(0 0 0 / 40%) 0px 130px 70px -30px;
  --todo-filter-text: hsl(234, 11%, 52%);

  --icon-border-color: hsl(234, 11%, 52%);

  --light-text: hsl(233, 14%, 35%);
  --normal-text: hsl(234, 11%, 52%);
  --dark-text: hsl(234, 39%, 85%);

  --delete-btn: hsl(233, 14%, 35%);

  --sun-display: block;
  --moon-display: none;
}

@font-face {
  font-family: "Josefin";
  src: url("./fonts/JosefinSans-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Josefin";
  src: url("./fonts/JosefinSans-Bold.woff2");
  font-weight: 700;
}

body {
  font-family: "Josefin", sans-serif;
  background-color: var(--body-bg);
}

input {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  outline: none;
  caret-color: hsl(220, 98%, 61%);
}

button {
  border: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}

/* HEADER */

/* HEADER */

.header-background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  height: 260px;
  width: 100%;

  background-image: url("./images/bg-mobile-light.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  z-index: 2;

  width: 90%;
  margin-inline: auto;
  margin-top: 70px;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-title {
  text-transform: uppercase;
  letter-spacing: 12px;
  color: var(--white);
}

.theme-switch-btn {
  cursor: pointer;
}

.sun-icon {
  display: var(--sun-display);
}

.moon-icon {
  display: var(--moon-display);
}

/* TODO INPUT */

.add-todo {
  display: flex;
  align-items: center;
  gap: 6px;

  border-radius: 6px;
  background-color: var(--todo-container);
  padding: 18px 20px;
  margin-top: 45px;
}

.add-todo-input {
  font-size: 18px;
  width: 100%;
  padding: 4px 8px;
  color: var(--dark-text);
}

.add-todo-input::placeholder {
  color: var(--normal-text);

  font-size: 14px;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 25px;
  width: 25px;
  height: 25px;

  border: 1px solid var(--icon-border-color);
  border-radius: 50%;
}

/* TODO CONTAINER */

.todo-container {
  margin: 24px 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--todo-container);

  box-shadow: var(--todo-container-shadow);
}

.todo-list {
  color: var(--dark-text);
  list-style-type: none;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 18px 20px;
  border-bottom: 1px solid var(--light-text);
  cursor: pointer;
}

.todo-item.done {
  color: var(--light-text);
  text-decoration: line-through;
}

.todo-item.done .icon {
  background: rgb(87, 221, 255);
  background: linear-gradient(116deg, #57ddff 0%, #c058f3 100%);
}

.todo-item .icon::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 1px;
  background: none;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.todo-item:hover .icon::before {
  background: linear-gradient(116deg, #57ddff, #c058f3);
}

.todo-item.done .icon,
.todo-item:hover .icon {
  border: 0;
}

.todo-item div:first-child {
  display: flex;
  align-items: center;
  gap: 12px;
}

.todo-item .icon-image {
  display: none;
}

.todo-item.done .icon-image {
  display: flex;
}

.delete-btn {
  width: 18px;
  height: 18px;
  fill: var(--delete-btn);
}

.todo-footer {
  display: flex;
  justify-content: space-between;

  padding: 18px 20px;
  font-size: 16px;
  color: var(--normal-text);
}

/* TODO FILTER */
.todo-filter {
  display: flex;
  justify-content: center;
  gap: 16px;

  font-weight: 700;
  padding: 18px 20px;
  color: var(--todo-filter-text);
  background-color: var(--todo-container);
  border-radius: 6px;
}

.dnd-tip {
  color: var(--normal-text);
  text-align: center;
  margin-top: 50px;
}
