* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: hsl(0, 0%, 100%);

  --hero-img: url("./images/bg-mobile-light.jpg");
  --body-bg: hsl(0, 0%, 98%);
  --todo-container: hsl(0, 0%, 100%);
  --todo-container-shadow: rgba(134, 136, 155, 0.15) 0px 130px 70px -30px;
  --todo-filter-text: hsl(236, 9%, 61%);

  --light-text: hsl(233, 11%, 84%);
  --normal-text: hsl(236, 9%, 61%);
  --dark-text: hsl(235, 19%, 35%);

  --icon-border-color: hsl(233, 11%, 84%);
  --delete-btn: hsl(235, 19%, 35%);
  --bright-blue: hsl(220, 98%, 61%);

  --sun-display: none;
  --moon-display: block;
}

html[data-theme="dark"] {
  --body-bg: hsl(235, 21%, 11%);
  --todo-container: hsl(235deg 24% 19%);
  --todo-container-shadow: rgb(0 0 0 / 40%) 0px 130px 70px -30px;
  --todo-filter-text: hsl(234, 11%, 52%);

  --light-text: hsl(233, 14%, 35%);
  --normal-text: hsl(234, 11%, 52%);
  --dark-text: hsl(234, 39%, 85%);

  --icon-border-color: hsl(234, 11%, 52%);
  --delete-btn: hsl(233, 14%, 35%);
  --bright-blue: hsl(220, 98%, 61%);

  --sun-display: block;
  --moon-display: none;
}

@font-face {
  font-family: "Josefin";
  src: url("./fonts/JosefinSans-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Josefin";
  src: url("./fonts/JosefinSans-Bold.woff2");
  font-weight: 700;
}

body {
  font-family: "Josefin", sans-serif;
  background-color: var(--body-bg);
}

input {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  outline: none;
  caret-color: hsl(220, 98%, 61%);
}

button {
  border: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* HEADER */

.header-mobile-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  height: 260px;
  width: 100%;

  background-image: url("./images/bg-mobile-light.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-desktop-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  height: 260px;
  width: 100%;

  background-image: url("./images/bg-desktop-light.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-desktop-bg.hide,
.header-mobile-bg.hide {
  display: none;
}

.container {
  position: relative;
  z-index: 2;

  width: 90%;
  margin-inline: auto;
  margin-top: 70px;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-title {
  text-transform: uppercase;
  letter-spacing: 12px;
  color: var(--white);
}

.theme-switch-btn {
  cursor: pointer;
}

.sun-icon {
  display: var(--sun-display);
}

.moon-icon {
  display: var(--moon-display);
}

/* TODO INPUT */

.add-todo {
  display: flex;
  align-items: center;
  gap: 6px;

  border-radius: 6px;
  background-color: var(--todo-container);
  padding: 18px 20px;
  margin-top: 45px;
}

.add-todo-input {
  font-size: 18px;
  width: 100%;
  padding: 4px 8px;
  color: var(--dark-text);
}

.add-todo-input::placeholder {
  color: var(--normal-text);

  font-size: 14px;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 25px;
  width: 25px;
  height: 25px;

  border: 1px solid var(--icon-border-color);
  border-radius: 50%;
}

.add-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background: rgb(87, 221, 255);
  background: linear-gradient(116deg, #57ddff 0%, #c058f3 100%);

  transition: transform 0.1s ease;
  cursor: pointer;
}

.add-icon:active {
  transform: scale(0.95);
}

.add-icon svg {
  width: 13px;
  height: 13px;
  fill: var(--white);
}

/* TODO CONTAINER */
.todo-container {
  margin: 24px 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--todo-container);
  box-shadow: var(--todo-container-shadow);
}

.todo-container.hide {
  display: none;
}

.todo-list {
  overflow-y: auto;
  color: var(--dark-text);
  list-style-type: none;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 18px 20px;
  border-bottom: 1px solid var(--light-text);
  cursor: grab;
}

.todo-item.hide {
  display: none;
}

.todo-item.done {
  color: var(--light-text);
  text-decoration: line-through;
}

.todo-item div:first-child {
  display: flex;
  align-items: center;
  gap: 12px;
}

.complete-todo-btn {
  border-radius: 50%;
  border: 1px solid transparent;
  background: linear-gradient(116deg, #57ddff 0%, #c058f3 100%) border-box;
  background: var(--light-text);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  height: 25px;
  width: 25px;
}

.todo-item.done .complete-todo-btn {
  background: linear-gradient(116deg, #57ddff 0%, #c058f3 100%) border-box;
  mask-composite: unset;
  -webkit-mask-composite: unset;
}

.complete-todo-btn:hover {
  background: linear-gradient(116deg, #57ddff 0%, #c058f3 100%) border-box;
}

.complete-todo-icon {
  display: none;
  background: linear-gradient(116deg, #57ddff 0%, #c058f3 100%);
  background-image: url(./images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
.todo-item.done .complete-todo-icon {
  display: block;
}

.delete-btn {
  height: 25px;
  width: 25px;
}

.delete-icon {
  background-image: url(./images/icon-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.todo-footer {
  display: flex;
  justify-content: space-between;

  padding: 18px 20px;
  font-size: 16px;
  color: var(--normal-text);
}

.clear-btn {
  transition: color 0.1s ease;
}

.clear-btn:hover {
  color: var(--dark-text);
}

/* TODO FILTER */
.todo-filter {
  display: flex;
  justify-content: center;
  gap: 16px;

  font-weight: 700;
  padding: 18px 20px;
  color: var(--todo-filter-text);
  background-color: var(--todo-container);
  border-radius: 6px;
}

.todo-footer-filter {
  display: none;
  gap: 16px;
  font-weight: 700;
}

.todo-filter.hide {
  display: none;
}

.filter-btn {
  transition: color 0.1s ease;
}

.filter-btn:hover {
  color: var(--dark-text);
}

.filter-btn.active {
  color: var(--bright-blue);
}

.dnd-tip {
  color: var(--normal-text);
  text-align: center;
  margin: 50px 0;
}

.dnd-tip.hide {
  display: none;
}

/* Sortable js related classes */

.sortable-chosen {
  background: linear-gradient(116deg, #57ddff 0%, #c058f3 100%);
}

.sortable-ghost {
  opacity: 1 !important;
}

.sortable-drag {
  opacity: 0 !important;
}

.grabbing {
  cursor: default !important;
}

.grabbing * {
  cursor: grabbing !important;
}

@media (min-width: 768px) {
  .todo-filter {
    display: none;
  }

  .todo-footer-filter {
    display: flex;
  }

  .container {
    width: 70%;
  }

  .header-desktop-bg {
    display: block;
  }

  .header-mobile-bg {
    display: none;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 650px;
  }
}
